.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.mainDiv{
  background-color: #a6a6a6;
  min-height: 100vh;
  display: flex;
  align-items: column;
  justify-content: space-evenly;
  font-size: 24px;
}

.infoDiv{
  color: black;
  font-size: 20px;
}

.titleText{
  font-size: 26px;
  font-weight: 700;
}

.loginForm{
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginTitle{
  font-size: 24px;
  font-weight: 700;
}

.loginText{
  font-size: 16px;
  font-weight: 500;
}

.credInput{
  background-color: #AFAFAF;
  color: black;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
  border-radius: 1px;
  width: 15vw;
  font-weight: 500;
}

.loginButton{
  background-color: red;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  width: 10vw;
}

.loginButton:hover{
  cursor: pointer;
}

.createuserText{
  font-size: 16px;
  font-weight: 300;
}

.createuserText:hover{
  color: red;
  cursor: pointer;
}

.loginForm{
  display: flex;
  align-items: center;
  flex-direction: column;
}
